*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Signika, Arial;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background: rgba(0,0,0,0.3); 
}

::-webkit-scrollbar-thumb{
    background: rgba(255,255,255,0.33); 
}

html, body, #App{
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
}

body{
    position: relative;
    background: linear-gradient(90deg, blue, red);
    transition: 1s;
}

.mask{
    position: absolute;
    width: 100%;
    height: 100%;
    background:linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.85))

}

#AppBody{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    z-index: 0;
}

#App{
    padding: 0 10%;
    z-index: 1;
}


/*PERGUNTAS E RESPOSTAS*/
#Perguntas{
    width: 100%;
    height: 100%;

}

#Perguntas .Pergunta{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Perguntas .PerguntaBox{
    position: relative;
    width: 300px;
    background: #FFF;
    border-radius: 10px;
}

#Perguntas .PerguntaCard{
    width: 100%;
    height: 80px;
    background-image: url('question.png');
    background-size: cover;
    background-position: center center;
    border-radius: 10px 10px 0px 0px;
}

#Perguntas .PerguntaOptions{
    width: 100%;
}

#Perguntas .PerguntaOptionsOption{
    width: calc(100% - 20px);
    margin: 10px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    cursor: pointer;
}

#Perguntas .PerguntaTitulo{
    width: 100%;
    padding: 14px;
    padding-bottom: 4px;
    text-align: center;
    
}

#Perguntas .PerguntaOptionsOption:hover{
    background-color: #333;
    color: #FFF;
}

#Perguntas .PerguntaLogin{
    padding: 10px;
}

#Perguntas .PerguntaLoginAzul{
    width: 100%;
    border: 1px solid #7f6ee1;
    border-bottom: 4px solid #5b4f9e;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

#Perguntas .PerguntaLoginVermelho{
    width: 100%;
    border: 1px solid red;
    border-bottom: 4px solid red;
    border-radius: 4px;
    padding: 10px;
}

#Perguntas .PerguntaLoginJogar{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

#Perguntas .PerguntaLoginJogarBtn{
    width: 120px;
    background-color: #7f6ee1;
    border-bottom: 4px solid #5b4f9e;
    padding: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    margin-top: 10px;
    cursor: pointer;
}

#Perguntas .PerguntaLoad{
    width: 100%;
    padding: 10px;
    text-align: center;
}

#Perguntas .PerguntaLoad img{
    width: 80px;
}

#Perguntas .PerguntaPlacar{
    position: absolute;
    bottom: -50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    color: #FFF;
}

#Perguntas .Parabens{
    display: flex;
    font-size: 30px;
    font-weight: 700;
    color: #FFF;
}

#Perguntas .PerguntaPlacarAzul{
    display: flex;
    justify-content: center;
}

#Perguntas .PerguntaPlacarVermelho{
    display: flex;
    justify-content: center;
}

#Perguntas .PerguntaSuaVez{
    position: absolute;
    top: -30px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: #FFF;
}

#Perguntas .PlacarMobile{
    display: none;
}


@media (max-width: 1280px){
    #App {
        padding: 0 2%;
    }
}

@media (max-width: 980px){
    #App{
    }

    .grid{
        width: calc(33.3% - 15px);
    }

    #Perguntas .Placar{
        display: none !important;
    }

    #Perguntas .PlacarMobile{
        display: block;
    }

    
}

@media (max-width: 500px){
    ::-webkit-scrollbar{
        width: 6px;
    }

    #App{
        padding: 0 2.5%;
    }

    .grid{
        width: calc(50% - 15px);
    }
}